
<div class="intro">
  <div class="container">
    <div class="row" style="display:flex;">

      <!-- Intro Content -->
      <div class="col-md-5">
        <div class="intro_container d-flex flex-column align-items-start justify-content-center magic_up">
          <div class="intro_content">
            <div class="section_title_container">
              <div class="section_subtitle">luxury resort</div>
              <div class="section_title"><h2>Relax in our Hotel</h2></div>
            </div>
            <div class="intro_text">
              <p>Praesent fermentum ligula in dui imperdiet, vel tempus nulla ultricies. Phasellus at commodo ligula. Nullam molestie volutpat sapien, a dignissim tortor laoreet quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div class="intro_link"><a href="rooms.html">View Rooms</a></div>
            <a href="#" class="button_container intro_button"><div class="button text-center"><span>Book Your Stay</span></div></a>
          </div>
        </div>
      </div>

      <!-- Intro Image -->
      <div class="col-md-7">
        <div class="intro_images magic_up">
          <!-- Image credit: https://unsplash.com/@yuni_ladyday2 -->
          <div class="intro_1 intro_img"><img src="assets\images\intro\03.jpg" alt=""></div>
          <!-- Image credit: https://unsplash.com/@liliane -->
          <div class="intro_2 intro_img"><img src="assets\images\intro\02.jpg" alt=""></div>
          <!-- Image credit: https://unsplash.com/@brucemars -->
          <div class="intro_3 intro_img"><img src="assets\images\intro\01.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
