
<div class="intro">
  <div class="container">
    <div class="row" style="display:flex;">

      <!-- Intro Content -->
      <div class="col-md-5">
        <div class="intro_container d-flex flex-column align-items-start justify-content-center magic_up">
          <div class="intro_content">
            <div class="section_title_container">
              <!-- <div class="section_subtitle">luxury resort</div> -->
              <div class="section_title"><h2>Apurva Groups</h2></div>
            </div>
            <div class="intro_text">
              <p>Our firm Apurva Group established in 2009 is a household name with 5 Glorious Years in modular kitchen and Interior Designing. Our emphasis is always on providing EXCLUSIVE UTILITIES, ELEGANT DESIGNS in VERY COMPACT MODELS for our valued customers who believes in the BEST and who appreciate good quality.</p>
              <p>We heartily WELCOME you all to Apurva Groups, a premier destination for modern and contemporary designer furniture showroom catering exclusively to architects, designers, trade professionals and discerning customers and lastly the most important to the customers who wants to rapidly switchover to the changing interior design demands and home decor tastes of the current Indian market.</p>
              <p>We produce and deliver the best quality product interior designs for your home, office, villas, luxury apartment, service apartment and other fine living space requirement. We offer an exclusive range of kitchen furniture that enhances the beauty of the kitchen and is cost effective. We add a touch of elegance to the kitchens with our exquisitely designed cabins and furniture that are kept in the kitchen area.</p>
            </div>
            </div>
        </div>
      </div>

      <!-- Intro Image -->
      <div class="col-md-7">
        <div class="intro_images magic_up">
          <!-- Image credit: https://unsplash.com/@yuni_ladyday2 -->
          <div class="intro_3 intro_img"><img src="assets\images\intro\03.jpg" alt=""></div>
          <!-- Image credit: https://unsplash.com/@liliane -->
          <div class="intro_1 intro_img"><img src="assets\images\intro\02.jpg" alt=""></div>
          <!-- Image credit: https://unsplash.com/@brucemars -->
          <div class="intro_2 intro_img"><img src="assets\images\intro\01.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
