<div class="rooms">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center magic_up">
          <div class="section_subtitle">luxury resort</div>
          <div class="section_title"><h2>Choose a Room</h2></div>
        </div>
      </div>
    </div>
    <div class="row room_row magic_up">

      <!-- Room -->
      <div class="col-lg-4 room_col">
        <div class="room">
          <div class="room_image"><img src="images/room_1.jpg" alt="https://unsplash.com/@jonathan_percy"></div>
          <div class="room_content text-center">
            <div class="room_price">From $90 / <span>Night</span></div>
            <div class="room_type">double</div>
            <div class="room_title"><a href="rooms.html">Deluxe Suite</a></div>
            <div class="room_text">
              <p>Praesent fermentum ligula in dui imper diet, vel tempus nulla ultricies. Phasellus at commodo ligula.</p>
            </div>
            <a href="#" class="button_container room_button"><div class="button text-center"><span>Book Now</span></div></a>
          </div>
        </div>
      </div>
      
      <!-- Room -->
      <div class="col-lg-4 room_col">
        <div class="room">
          <div class="room_image"><img src="images/room_2.jpg" alt="https://unsplash.com/@ultralinx"></div>
          <div class="room_content text-center">
            <div class="room_price">From $90 / <span>Night</span></div>
            <div class="room_type">single</div>
            <div class="room_title"><a href="rooms.html">Luxury Suite</a></div>
            <div class="room_text">
              <p>Praesent fermentum ligula in dui imper diet, vel tempus nulla ultricies. Phasellus at commodo ligula.</p>
            </div>
            <a href="#" class="button_container room_button"><div class="button text-center"><span>Book Now</span></div></a>
          </div>
        </div>
      </div>

      <!-- Room -->
      <div class="col-lg-4 room_col">
        <div class="room">
          <div class="room_image"><img src="images/room_3.jpg" alt="https://unsplash.com/@rhemakallianpur"></div>
          <div class="room_content text-center">
            <div class="room_price">From $90 / <span>Night</span></div>
            <div class="room_type">double</div>
            <div class="room_title"><a href="rooms.html">Deluxe Suite</a></div>
            <div class="room_text">
              <p>Praesent fermentum ligula in dui imper diet, vel tempus nulla ultricies. Phasellus at commodo ligula.</p>
            </div>
            <a href="#" class="button_container room_button"><div class="button text-center"><span>Book Now</span></div></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>