
<div class="content">
<!---->
<div class="container">
        <h3>Categories Design</h3>
	
		<div class="bottom-grid magic_up">
			<div class="col-md-4 bottom-grids">
			<h3 style="text-align:center; color:Black;">Kichen Trolley</h3>
				<img class="img-responsive" src="assets/images/home/kitchen_trolly.jpg" title="Kichen Trolley" alt="" >
				<p style="color:Black;">We provide wide range of kitchen trolleys which are made to best utilization of Kitchen Space, make Kitchen completely a functional place & enhance the beauty of Kitchen. <strong></strong></p>

			</div>
			<div class="col-md-4 bottom-grids">
			<h3 style="text-align:center; color:Black;">Interior Work</h3>
				<img class="img-responsive" src="assets/images/home/i3.jpg" title="Interior Work" alt="" >
				<p style="color:Black;">May it be the Interior design of your bedroom, study, livingroom, dinning we have a solution for it all. We provide best kind of interior layouts and designer furniture that needs to be used to make yout interior attractive and descent. <strong></strong></p>
			</div>
		<div class="col-md-4 bottom-grids">
		<h3 style="text-align:center; color:Black;">Kitchen Accessories</h3>
				<img class="img-responsive" src="assets/images/home/kitchen_accessories.jpg" title="Kitchen Accessories" alt="" >
				<p style="color:Black;">Edge Binded Shutters, Edge Binded Glossy Shutters, Polyacrylic Shutters, Post Forming Shutters, SS Baskets and SS Frames, Wooden Carcass, Kitchen Cabinet Accessories.<br /> <strong></strong></p>
			</div>
					
			
			<div class="clearfix"> </div>

		</div>
		<div class="bottom-grid magic_up">
			<div class="col-md-4 bottom-grids">
			<h3 style="text-align:center; color:Black;">Modular Furniture</h3>
				<img class="img-responsive" src="assets/images/home/m3.jpg" title="Kichen Trolley" alt="" >
				<p style="color:Black;">Modern, elegant or stylish in ambience: a kitchen is the ultimate expression of individuality.
High quality materials and appealing colour combinations create a pleasant home adding right highlights in the right places

			</div>
			<div class="col-md-4 bottom-grids">
			<h3 style="text-align:center; color:Black;">POP Design</h3>
				<img class="img-responsive" src="assets/images/home/pop.jpg" title="Interior Work" alt="" >
				<p style="color:Black;">Apurv group  is a renowned company known for its quality services and timelines. We address your needs with utmost care and ensure your satisfaction in whatever we do. Give us an opportunity to serve you. We will gift you with a pleasant experience. <strong></strong></p>
			</div>
		<div class="col-md-4 bottom-grids">
		<h3 style="text-align:center; color:Black;">Sliding Window</h3>
				<img class="img-responsive" src="assets/images/home/s21.jpg" title="Kitchen Accessories" alt="" >
				<p style="color:Black;">Apurv Group Traders is one of the leading manufacturers and suppliers engaged in providing a wide range of Aluminium Windows and Doors. These products are provided to our clients in a vast variety of colors, styles and styles as per the clients' needs and requirements. <br /> <strong></strong></p>
			</div>
					
			
			<div class="clearfix"> </div>

		</div>
	</div>
</div>