<div class="container magic_up">
    <h2>ABOUT</h2>

<div class="row ">
  <div class="col-md-6">
    
      <p style="color:Black;">Our firm Apurv Group established in 2009 is a household name with 5 Glorious Years in modular kitchen and Interior Designing. Our emphasis is always on providing EXCLUSIVE UTILITIES, ELEGANT DESIGNS in VERY COMPACT MODELS for our valued customers who believes in the BEST and who appreciate good quality. </p>
      <p style="color:Black;">We heartily WELCOME you all to Apurva Groups, a premier destination for modern and contemporary designer furniture showroom catering exclusively to architects, designers, trade professionals and discerning customers and lastly the most important to the customers who wants to rapidly switchover to the changing interior design demands and home decor tastes of the current Indian market. </p>
      <p style="color:Black;">We produce and deliver the best quality product interior designs for your home, office, villas, luxury apartment, service apartment and other fine living space requirement. We offer an exclusive range of kitchen furniture that enhances the beauty of the kitchen and is cost effective. We add a touch of elegance to the kitchens with our exquisitely designed cabins and furniture that are kept in the kitchen area.</p>
    
  </div>
  <div class="col-md-6">
        <img src="assets/images/about/ab11.jpg">
        <img src="assets/images/about/i1.jpg">

  </div>
</div>
</div>