<div class="milestones">
  <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/milestones.jpg" data-speed="0.8"></div>
  <div class="milestones_background_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="milestones_title"><h2>Some Fun Facts About Us</h2></div>
        <div class="milestones_text">
          <p>Praesent fermentum ligula in dui imperdiet, vel tempus nulla ultricies. Phasellus at commodo ligula. Nullam molestie volutpat sapien, a dignissim tortor laoreet quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
      </div>
    </div>
    <div class="row milestones_row">
      
      <!-- Milestone -->
      <div class="col-lg-3 col-md-6 milestone_col">
        <div class="milestone d-flex flex-row align-items-center justify-content-md-center justify-content-start">
          <div class="milestone_content">
            <div class="milestone_counter" data-end-value="25">0</div>
            <div class="milestone_text">Suites</div>
          </div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-3 col-md-6 milestone_col">
        <div class="milestone d-flex flex-row align-items-center justify-content-md-center justify-content-start">
          <div class="milestone_content">
            <div class="milestone_counter" data-end-value="80">0</div>
            <div class="milestone_text">Rooms</div>
          </div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-3 col-md-6 milestone_col">
        <div class="milestone d-flex flex-row align-items-center justify-content-md-center justify-content-start">
          <div class="milestone_content">
            <div class="milestone_counter" data-end-value="3">0</div>
            <div class="milestone_text">Pools</div>
          </div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-3 col-md-6 milestone_col">
        <div class="milestone d-flex flex-row align-items-center justify-content-md-center justify-content-start">
          <div class="milestone_content">
            <div class="milestone_counter" data-end-value="52">0</div>
            <div class="milestone_text">Employees</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>