
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="row">
    <div class="col-md-4">
      <h2>Apurva</h2>
    </div>
  <div class="footer-copyright text-center py-3 col-md-4">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com<h6>Design by RSK</h6></a>
      </div>
      <div class="col-md-4">
       <p> Address
         <br>Apurv Group , A-31,Nice Area M.I.D.C,Satpur Nashik
        <br>Mobile:(91) 8308827096
        <br>Email: info@apurvagroup.com,yogesh_apurva@rediffmail.com
        <br>Follow on: Facebook, Twitter</p>
      </div>
</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->