<!-- Search Bar -->

<div class="search_bar">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="search_bar_container">
          <form action="#" id="search_bar_form" class="search_bar_form d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-between clearfix">
            <!-- <div>
              <select class="search_form_select">
                <option disabled selected>WELCOME
                <option>07/15/2018</option>
                <option>07/22/2018</option>
                <option>07/29/2018</option>
              </select>
            </div> -->
              <div><button class="search_bar_button">WELCOME</button></div>
              <div><button class="search_bar_button">OUR HISTORY</button></div>
            <div><button class="search_bar_button">OUR SERVICE</button></div>
          </form>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>