<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/slider/01.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/slider/02.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/slider/03.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/slider/04.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/slider/05.jpg" alt="Third slide">
    </div>
  </div>
</div> -->


<div class="home">
		
  <!-- Home Slider -->
  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      
      <!-- Slide -->
      <div class="owl-item">
        <!-- Image credit: https://unsplash.com/@santtd -->
        <div class="background_image" style="background-image:url(assets/images/slider/01.jpg)"></div>
        <div class="home_content_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content text-center">
                  <div class="home_subtitle">luxury resort</div>
                  <div class="home_title">Amazing Services, Location & Facilities</div>
                  <a href="#" class="button_container home_button"><div class="button text-center"><span>Book Your Stay</span></div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="owl-item">
        <!-- Image credit: https://unsplash.com/@santtd -->
        <div class="background_image" style="background-image:url(assets/images/slider/02.jpg)"></div>
        <div class="home_content_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content text-center">
                  <div class="home_subtitle">luxury resort</div>
                  <div class="home_title">Amazing Services, Location & Facilities</div>
                  <a href="#" class="button_container home_button"><div class="button text-center"><span>Book Your Stay</span></div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="owl-item">
        <!-- Image credit: https://unsplash.com/@santtd -->
        <div class="background_image" style="background-image:url(assets/images/slider/03.jpg)"></div>
        <div class="home_content_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content text-center">
                  <div class="home_subtitle">luxury resort</div>
                  <div class="home_title">Amazing Services, Location & Facilities</div>
                  <a href="#" class="button_container home_button"><div class="button text-center"><span>Book Your Stay</span></div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Home Slider Dots -->

    <div class="home_slider_dots">
      <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
        <li class="home_slider_custom_dot active">01</li>
        <li class="home_slider_custom_dot">02</li>
        <li class="home_slider_custom_dot">03</li>
      </ul>
    </div>

  </div>
</div>