.navbar{
    width: 100%;
    background: rgba(250, 72, 72, 0.877);
    z-index: 999;
}
a{
    color: white!important;
    font-size: 25px;
}

.navbar-brand{
    margin-left: 300px;
    font-family: 'Droid Serif', serif;
    font-size: 30px;
}

.navbar-nav{
    margin-left: 50px;
}
a:hover
{
    color: #d65443;
    font-size: 30px;
}