<div class="gallery">
  <div class="gallery_slider_container">
    
    <!-- Gallery Slider -->
    <div class="owl-carousel owl-theme gallery_slider magic_up">
      <div class="owl-item gallery_item">
        <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
        <a class="colorbox" href="images/gallery_1.jpg"><img src="images/gallery_1.jpg" alt=""></a>
      </div>
      <div class="owl-item gallery_item">
        <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
        <a class="colorbox" href="images/gallery_2.jpg"><img src="images/gallery_2.jpg" alt=""></a>
      </div>
      <div class="owl-item gallery_item">
        <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
        <a class="colorbox" href="images/gallery_3.jpg"><img src="images/gallery_3.jpg" alt=""></a>
      </div>
      <div class="owl-item gallery_item">
        <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
        <a class="colorbox" href="images/gallery_4.jpg"><img src="images/gallery_4.jpg" alt=""></a>
      </div>
      <div class="owl-item gallery_item">
        <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
        <a class="colorbox" href="images/gallery_5.jpg"><img src="images/gallery_5.jpg" alt=""></a>
      </div>
    </div>

  </div>

  <!-- Nav -->
  <div class="gallery_slider_nav_container">
    <div class="container">
      <div class="row">
        <div class="col clearfix">
          <div class="gallery_slider_nav_content d-flex flex-row align-items-start justify-content-start">
            <div class="gallery_slider_prev gallery_slider_nav"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="gallery_slider_next gallery_slider_nav"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>			
  </div>

</div>